[submodule "amiro_robot"]
	path = amiro_robot
	url = https://github.com/JonasDHomburg/amiro_robot.git
[submodule "rviz_textured_quads"]
	path = rviz_textured_quads
	url = https://github.com/JonasDHomburg/rviz_textured_quads.git
